<div class="main-content">
    <div class="logo-container">
        <img id="astro-logo" src="~/img/Astro.png" alt="Logo" />
        <img id="astro-text" src="~/img/Quizmoon.png" alt="Logo" />
    </div>

    <div class="border-content">


        <div class="border-header">
            <div class="header-buttons-left"></div>
            <div class="title">Congratulations!</div>
            <div class="header-buttons-right">
                <button class="btn-secondary" onclick="location.href='@Url.Action("GoBackToMainPage", "Account")'"><img src="/img/x.png" alt="Back" style="height: 14px; filter: invert(100%);" /></button>
            </div>
        </div>

        <div class="message-row">
        </div>

        <div class="border-body">
            <div class="body-message">
                Your email has been successfully confirmed. You can now log in to your account.
            </div>
            
            <div class="main-buttons">
                <button class="btn-primary" onclick="location.href='@Url.Action("Login", "Account")'">Go to Login page</button>
            </div>
        </div>
    </div>
</div>
