@model QuizMoon.Client.Model.LoginModel

<div class="main-content">
    <div class="logo-container">
        <img id="astro-logo" src="~/img/Astro.png" alt="Logo" />
        <img id="astro-text" src="~/img/Quizmoon.png" alt="Logo" />
    </div>

    <div class="border-content">

        <div class="header-buttons">
            <button class="btn-secondary" onclick="history.go(-1)"><img src="/img/x.png" alt="Back" style="height: 14px; filter: invert(100%);" /></button>
        </div>

        <div class="title">Log in to continue:</div>

        <div class="panel-body">
            <form asp-route="Login" method="post">
                <input class="form-control" placeholder="Username" asp-for="Username" autofocus>
                <input type="password" class="form-control" placeholder="Password" asp-for="Password" autocomplete="off">
                <div class="login-remember">
                    <label asp-for="RememberLogin"><span>Remember me</span><input type="checkbox" asp-for="RememberLogin"></label>
                </div>
                <div class="main-buttons">
                    <button class="btn-primary" type="submit">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>
